version: '3'

services:
  redis:
    container_name: redaudioapi-redis
    hostname: redaudioapi-redis
    command: ["--appendonly", "yes",
              "--maxmemory", "2g",
              "--maxmemory-policy","allkeys-lru",
              "--loadmodule", "/usr/lib/redis/modules/redisai.so",
              "--loadmodule", "/usr/lib/redis/modules/redisearch.so",
              "--loadmodule", "/usr/lib/redis/modules/redisgraph.so",
              "--loadmodule", "/usr/lib/redis/modules/redistimeseries.so",
              "--loadmodule", "/usr/lib/redis/modules/rejson.so",
              "--loadmodule", "/usr/lib/redis/modules/redisbloom.so",
              "--loadmodule", "/var/opt/redislabs/lib/modules/redisgears.so",
              "PythonHomeDir", "/opt/redislabs/lib/modules/python3"]
    env_file:
      - .env
    networks:
      - redaudioapi-net
    image: redislabs/redismod
    volumes:
      - ./data/redis:/data
    restart: unless-stopped

  postgres:
    container_name: redaudioapi-postgres
    hostname: redaudioapi-postgres
    image: postgres:12.0
    env_file:
      - .env
    volumes:
      - ./scripts:/docker-entrypoint-initdb.d
      - ./data/postgres:/var/lib/postgresql/data
    networks:
      - redaudioapi-net
    restart: unless-stopped

  pgadmin:
    container_name: redaudioapi-pgadmin
    hostname: redaudioapi-pgadmin
    image: dpage/pgadmin4:latest
    env_file:
      - .env
    volumes:
       - ./data/pgadmin:/root/.pgadmin
    networks:
      - redaudioapi-net
    restart: unless-stopped

  api:
    container_name: redaudioapi-api
    hostname: redaudioapi-api
    image: drapersniper/redbot-global-api:latest
#    image: test:latest
    env_file:
      - .env
    environment:
      RED_API_DATABASE: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@redaudioapi-postgres/${POSTGRES_DB}
      REDIS_CACHED_DATA: redis://redaudioapi-redis
    networks:
      - redaudioapi-net
    depends_on:
      - postgres
      - redis
    restart: unless-stopped
    links:
      - redis
      - postgres

  pgbackup:
    container_name: redaudioapi-pgbackup
    hostname: redaudioapi-pgbackup
    image: kartoza/pg-backup:9.6
    hostname: redaudioapi-pgbackup
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - ./data/backups:/backups
    links:
      - postgres:postgres
    environment:
      - POSTGRES_HOST=redaudioapi-postgres

networks:
  redaudioapi-net:
    driver: bridge
